section.section.new-collection
  .container.new-collection__container
    .new-collection__wrapp
      .new-collection__inner 
        h2.new-collection__title Оксфорд 1950
        p.new-collection__descr Новая коллекция изысканных кресел 
      button.btn-primary.new-collection__btn Ознакомиться
