section.section.special
  .container 
    h2.title.special__title Специальные предложения
    ul.special__list 
      li.special__item
        article.special-card  
          img.special-card__img(src="img/content/special-1-320.png", alt="Кресло велюровое")
          h3.special-card__name Кресло велюровое “X-24” 
          .special-card__price
            p.price.price--end 15 990 руб
            p.price.price--start 24 990 руб
          button.btn-secondary.special-card__btn Купить
          span.special-card__discount - 9 000
      li.special__item
          article.special-card.special-sofa  
            img.special-card__img.special-sofa__img(src="img/content/special-2.png", alt="Диван тканевый “Z-44”")
            h3.special-card__name Диван тканевый “Z-44”
            .special-card__price
              p.price.price--end 22 990 руб
              p.price.price--start 32 990 руб
            button.btn-secondary.special-card__btn Купить
            span.special-card__discount - 10 000
      li.special__item
          article.special-card  
            img.special-card__img(src="img/content/special-3-320.png", alt="Будильник  “Quartz-23")
            h3.special-card__name Будильник  “Quartz-23”
            .special-card__price
              p.price.price--end 1 290 руб
              p.price.price--start 1 890 руб
            button.btn-secondary.special-card__btn Купить
            span.special-card__discount - 600
      li.special__item
          article.special-card  
            img.special-card__img(src="img/content/special-4-320.png", alt="Мини-скульптура “Oh my deer”")
            h3.special-card__name Мини-скульптура “Oh my deer”
            .special-card__price
              p.price.price--end 690 руб
              p.price.price--start 990 руб
            button.btn-secondary.special-card__btn Купить
            span.special-card__discount - 300
      li.special__item
          article.special-card  
            img.special-card__img(src="img/content/special-5-320.png", alt="Диван вел-флок “Z-85”")
            h3.special-card__name Диван вел-флок “Z-85”
            .special-card__price
              p.price.price--end 22 990 руб
              p.price.price--start 32 990 руб
            button.btn-secondary.special-card__btn Купить
            span.special-card__discount - 10 000
      li.special__item
          article.special-card  
            img.special-card__img(src="img/content/special-6-320.png", alt="Термометр + гидрометр “H-18”")
            h3.special-card__name Термометр + гидрометр “H-18”
            .special-card__price
              p.price.price--end 1 390 руб
              p.price.price--start 2 090 руб
            button.btn-secondary.special-card__btn Купить
            span.special-card__discount - 700