section.section.useful  
  .container 
    h2.title.useful__title Полезное
    ul.useful__list
      li.useful__item
        article.useful__article
          +picture('useful-1.jpeg', 'Просторная комната',[768,320])(class="useful__img") 
          .useful__inner
            p.useful__descr И нет сомнений, что сделанные на базе интернет-аналитики выводы представляют собой не что иное?
            a.btn-secondary.useful__btn(href="#!") Читать
      li.useful__item
        article.useful__article
          +picture('useful-2.jpeg', 'Белый столик',[768,320])(class="useful__img") 
          .useful__inner
            p.useful__descr Как принято считать, некоторые особенности приносят несомненную пользу обществу?
            a.btn-secondary.useful__btn(href="#!") Читать
      li.useful__item
        article.useful__article
          +picture('useful-3.jpeg', 'Ваза с цветами',[560])(class="useful__img") 
          .useful__inner
            p.useful__descr Ясность нашей позиции очевидна: укрепление и развитие внутренней структуры?
            a.btn-secondary.useful__btn(href="#!") Читать
      li.useful__item
        article.useful__article
          +picture('useful-4.jpeg', 'Уютная кухня',[560])(class="useful__img") 
          .useful__inner
            p.useful__descr Прежде всего, консультация с широким активом однозначно фиксирует необходимость распределения?
            a.btn-secondary.useful__btn(href="#!") Читать
      li.useful__item
        article.useful__article
          +picture('useful-5.jpeg', 'Ростовое зеркало',[560])(class="useful__img") 
          .useful__inner
            p.useful__descr Прежде всего, консультация с широким активом однозначно фиксирует необходимость распределения?
            a.btn-secondary.useful__btn(href="#!") Читать
