footer.footer
  .footer__top
    .container
      .footer__wrapp 
        .footer__left
          a.logo.footer__logo(href="#!")
            img.logo__img(loading="lazy" src="img/content/logo.svg" alt="Логотип") 
          ul.icons
            li.icons__item 
              a.icons__link(href="#!")
                +svg('ok')(class='footer__icon')
            li.icons__item 
              a.icons__link(href="#!")
                +svg('vk')(class='footer__icon')
        .footer__right 
          nav.footer__nav(title='О нас')
            ul.about-nav__list 
              li.about-nav__item 
                h2.footer-nav__title О нас
              li.about-nav__item 
                a.link.footer-nav__link.nav-grey__link(href='#!') О компании
              li.about-nav__item 
                a.footer-nav__link.nav-grey__link(href='#!') Блог
          nav.footer__nav(title='Услуги')
            ul.about-nav__list 
              li.about-nav__item 
                h2.footer-nav__title Услуги
              li.about-nav__item 
                a.footer-nav__link.nav-grey__link(href='#!') Доставка
              li.about-nav__item 
                a.footer-nav__link.nav-grey__link(href='#!') Рассрочка и кредит
              li.about-nav__item 
                a.footer-nav__link.nav-grey__link(href='#!') Сборка и установка
          nav.footer__nav(title='Связь с нами')
            ul.about-nav__list 
              li.about-nav__item 
                h2.footer-nav__title Связь с нами
              li.about-nav__item 
                a.footer-nav__link.nav-grey__link(href='#!') Обратная связь
              li.about-nav__item 
                a.footer-nav__link.nav-grey__link(href='#!') Контакты
          nav.footer__nav(title='Сотрудничество')
            ul.about-nav__list 
              li.about-nav__item 
                h2.footer-nav__title Сотрудничество
              li.about-nav__item 
                a.footer-nav__link.nav-grey__link(href='#!') Поставщикам
              li.about-nav__item 
                a.footer-nav__link.nav-grey__link(href='#!') Оптовикам
              li.about-nav__item 
                a.footer-nav__link.nav-grey__link(href='#!') Карьера
  .footer__bottom
    .container  
      p.footer__R SDP®   2011-2021