<footer class="footer">
  <div class="container footer__container">
    <div class="footer__logo">
      <a href="!#" class="logo">
        <img loading="lazy" src="img/logo.svg" class="logo_img" alt="Логотип">
      </a>
      <p class="footer__logo-descr">
        Фотостудия High pass® 2018–2020
      </p>
    </div>
    <p class="footer__descr">
      Которая из&nbsp;моих фотографий самая любимая? Та, которую я&nbsp;собираюсь снять завтра.
      &nbsp;&copy;&nbsp;Имоджен Каннингем
    </p>
    <div class="footer__icons">
      <p class="footer__icons-title">
        Больше интересного:
      </p>
      <ul class="list-reset icons">
        <li class="icon">
          <a href="!#" class="footer__link">
            <svg class="ok footer__icon">
              <use xlink:href="img/sprite.svg#ok"></use>
            </svg>
          </a>
        </li>
        <li class="icon">
          <a href="!#" class="footer__link">
            <svg class="vk footer__icon">
              <use xlink:href="img/sprite.svg#vk"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>