<section class="hero">
  <div class="container hero__container">
    <div class="hero__grid">
      <div class="hero__item">
        <div class="neon-photoset">
          <div class="neon-photoset__wrapp">
            <h3 class="neon-photoset__author">
              Мастер-класс от Игоря Робова
            </h3>
            <p class="neon-photoset__name">
              Неоновый фотосет 2.0
              <span class="neon-photoset__date">7 июля 20:00</span>
            </p>
            <button class="btn-reset btn  neon-photoset__btn">
              Узнать больше
            </button>
          </div>
          <span class="card-span neon-photoset__span">#мастеркласс</span>
        </div>
      </div>
      <div class="hero__item">
        <h2 class="hero__title">
          Работы участников предыдущего мастер-класса
        </h2>
        <picture>
          <source srcset="./../img/hero-img1-768.webp" type="image/webp" media="(max-width: 968px)" />
          <source srcset="./../img/hero-img1-768.jpeg" media="(max-width: 968px)" />
          <source srcset="./../img/hero-img1-1024.webp" type="image/webp" media="(max-width: 1024px)" />
          <source srcset="./../img/hero-img1-1024.jpeg" media="(max-width: 1024px)" />
          <source srcset="./../img/hero-img1.webp" type="image/webp">
          <img loading="lazy" src="./../img/hero-img1.jpeg" class="hero__image hero__image1" alt="Работа участника предыдущего мастер-класса">
        </picture>
      </div>
      <div class="hero__item">
        <picture>
          <source srcset="img/hero-img2-1024.webp" type="image/webp" media="(max-width: 1024px)" />
          <source srcset="img/hero-img2-1024.jpeg" media="(max-width: 1024px)" />
          <source srcset="img/hero-img2.webp" type="image/webp">
          <img loading="lazy" src="img/hero-img2.jpeg" class="hero__image" alt="Работа участника предыдущего мастер-класса">
        </picture>
      </div>
      <div class="hero__item">
        <picture>
          <source srcset="./../img/hero-img3.webp" type="image/webp">
          <img loading="lazy" src="./../img/hero-img3.jpeg" class="hero__image" alt="Работа участника   предыдущего мастер-класса">
        </picture>
      </div>
    </div>
  </div>
</section>