<section id="projects" class="projects">
  <div class="container">
    <div class="container projects__container">
      <h2 class="title projects__title">
        Наши проекты
      </h2>
      <div class="projects__grid">
        <div class="projects__item">
          <div class="project-sm">
            <picture>
              <source srcset="./../img/projects-img1-320.webp" type="image/webp" media="(max-width: 554px)" />
              <source srcset="./../img/projects-img1-320.jpeg" media="(max-width: 554px)" />
              <source srcset="./../img/projects-img1.webp" type="image/webp">
              <img loading="lazy" src="./../img/projects-img1.jpeg" class="project-sm__img" width="" height="" alt="Пейзаж">
            </picture>
            <p class="project-sm__descr">
              Синтетически, смешаны с не уникальными данными до степени…
            </p>
            <p class="project-sm__date">
              16 июня
            </p>
            <span class="card-span projects__span">
              #пейзаж
            </span>
          </div>
        </div>
        <div class="projects__item">
          <div class="project-sm">
            <picture>
              <source srcset="./../img/projects-img2.webp" type="image/webp">
              <img loading="lazy" src="./../img/projects-img2.jpeg" class="project-sm__img" width="" height="" alt="Портрет">
            </picture>
            <p class="project-sm__descr">
              В своём стремлении улучшить опыт мы упускаем, что явные...
            </p>
            <p class="project-sm__date">
              28 мая
            </p>
            <span class="card-span projects__span">
              #портрет
            </span>
          </div>
        </div>
        <div class="projects__item">
          <div class="project-sm">
            <picture>
              <source srcset="./../img/projects-img3-320.webp" type="image/webp" media="(max-width: 554px)" />
              <source srcset="./../img/projects-img3-320.jpeg" media="(max-width: 554px)" />
              <source srcset="./../img/projects-img3-768.webp" type="image/webp" media="(max-width: 968px)" />
              <source srcset="./../img/projects-img3-768.jpeg" media="(max-width: 968px)" />
              <source srcset="./../img/projects-img3-1024.webp" type="image/webp" media="(max-width: 1200px)" />
              <source srcset="./../img/projects-img3-1024.jpeg" media="(max-width: 1200px)" />
              <source srcset="./../img/projects-img3.webp" type="image/webp">
              <img loading="lazy" src="./../img/projects-img3.jpeg" class="project-sm__img" width="" height="" alt="Предмет">
            </picture>
            <p class="project-sm__descr">
              Равным образом, высокое качество позиционных высокотехнологичная концепция общественного уклада
            </p>
            <p class="project-sm__date">
              14 мая
            </p>
            <span class="card-span projects__span">
              #предмет
            </span>
          </div>
        </div>
        <div class="projects__item">
          <div class="project-bg project-bg_img1">
            <p class="project-bg__date">
              9 апреля
            </p>
            <h3 class="project-bg__name">
              Cемантический разбор
            </h3>
            <p class="project-bg__descr">
              В рамках спецификации современных стандартов, интерактивные прототипы
            </p>
            <a href="!#" class="btn-reset project-bg__btn">
              О проекте
            </a>
            <span class="card-span projects__span">
              #fuji
            </span>
          </div>
        </div>
        <div class="projects__item">
          <div class="project-bg project-bg_img2">
            <p class="project-bg__date">
              20 марта
            </p>
            <h3 class="project-bg__name">
              Забвение
            </h3>
            <p class="project-bg__descr project-bg__descr_2">
              Играет важную роль в формировании глубокомысленных рассуждений
            </p>
            <a href="!#" class="btn-reset project-bg__btn">
              О проекте
            </a>
            <span class="card-span projects__span">
              #проектзабвение
            </span>
          </div>
        </div>
        <div class="projects__item">
          <div class="project-sm">
            <picture>
              <source srcset="./../img/projects-img4-320.webp" type="image/webp" media="(max-width: 554px)" />
              <source srcset="./../img/projects-img4-320.jpeg" media="(max-width: 554px)" />
              <source srcset="./../img/projects-img4.webp" type="image/webp">
              <img loading="lazy" src="./../img/projects-img4.jpeg" class="project-sm__img" width="" height="" alt="Ретушь">
            </picture>
            <p class="project-sm__descr">
              Как принято считать, многие известные личности и по сей день остаются уделом либералов…
            </p>
            <p class="project-sm__date">
              9 марта
            </p>
            <span class="card-span projects__span">
              #ретушь
            </span>
          </div>
        </div>
        <div class="projects__item">
          <div class="project-sm">
            <picture>
              <source srcset="./../img/projects-img5-320.webp" type="image/webp" media="(max-width: 554px)" />
              <source srcset="./../img/projects-img5-320.jpeg" media="(max-width: 554px)" />
              <source srcset="./../img/projects-img5.webp" type="image/webp">
              <img loading="lazy" src="./../img/projects-img5.jpeg" class="project-sm__img" width="" height="" alt="Портрет">
            </picture>
            <p class="project-sm__descr">
              С учётом сложившейся международной обстановки, новая модель организационной…
            </p>
            <p class="project-sm__date">
              1 марта
            </p>
            <span class="card-span projects__span">
              #портрет
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>