extends ../layout/main
block variables
  -let title = 'SitDownPls- Каталог'

block header 
  .container
    .breadcrumbs
      ul.breadcrumbs__list 
        li.breadcrumbs__item 
          a.nav-grey__link.breadcrumbs__link(href="#!") Главная
        li.breadcrumbs__item 
          a.nav-grey__link.breadcrumbs__link(href="#!") Каталог
        li.breadcrumbs__item 
          a.nav-grey__link.breadcrumbs__link(href="#!") Диваны
        li.breadcrumbs__item 
          a.nav-grey__link.breadcrumbs__link(href="#!") Прямые диваны 


block content
  include ../blocks/catalog

