extends ../layout/main
block variables
  -let title = 'SitDownPls'

block content 
  h1.visually-hidden Главная страница магазина мебели
  include ../blocks/discount
  include ../blocks/special
  include ../blocks/high-rating
  include ../blocks/new-collection
  include ../blocks/top
  include ../blocks/useful
  include ../blocks/feedback
